#quizName {
    width: 200px;
}

label.create {
    float: left;
}

label.createLabel {
    vertical-align: center;
    padding-right: 5px;
    float: left;
    line-height: 20px;
}

button.create {
    background-color: #007700;
    color: white;
    float: left;
}

.questionDescription {
    clear: top;
    width: 60%;
    height: 75px;
    justify-content: left;
}

.tab {
    margin-left: 40px;
}

.newControls {
    width: 20%;
    vertical-align: center;
    padding-top: 10px;
    justify-content: center;
}

.strong {
    font-weight: bolder;
}

.choiceInteractors {
    width: 300px;
    float: right;
}

.choiceInfo {
    float: left;
}

.choiceHolder label, .choiceHolder input, .choiceHolder button {
    float: left;
}
ul {
    margin: 0;
    padding: 3px 0;
}
li {
    list-style-type:none;
    margin: 0;
    padding: 3px;
    clear:left;
}

.questionInfo {
    float: left;
}

.questionInfo label {
    padding-right: 5px;
}

.navigationButtonDiv {
    clear:left;
}