body {
    background-color: #555;
    color: #FFF;
}

.toggleButton {
    background-color: #AAA;
    color: #FFF;
}


/* nav bar stylings*/
ul {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    overflow: hidden;
    border: 1px solid #555;
    list-style-type: none;
    background-color: #888;
}

li {
    position: relative;
    margin: 0;
    float: right;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
}

li.quizToggle {
    position: absolute;
    left: 5px;
}
li.studentToggle {
    position: absolute;
    left: 106px;
}

li.create {
    width: 80%;
    float:right;
    padding-right: 5px;
    vertical-align: center;
    text-align: center;
    line-height: 30px;
}

li button {
    float: left;
    width: 100px;
    display: block;
    background-color: #555555;
    color: white;
    border: 1px solid #444444;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
}

li label.create {
    padding-right: 5px;
    float: right;
}

li button.create {
    background-color: #007700;
    float: right;
    color: white;
    right: 10px;
    width: 30px;
    height: 30px;
    display: block;
    text-align: center;
    padding: 6px 0;
    border: 1px solid #444444;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

li strong {
    width: 100px;
    background-color: #555555;
    color: white;
    border: 1px solid #444444;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
}

.tableDivs {
    position: relative;
    top: 25px;
    width: available;
}

.table {
    width: 50%;
    justify-content: center;
    text-align: center;
}